@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;900&display=swap');

* {
    background: #000;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 2px solid #383535;
    border-right: 3px solid #383535;
    font-size: 2rem;
    padding: 20px 0;
    text-align: center;
}

header img {
    max-width: 90%;
}

button {
    font-size: 2rem;
    min-width: 180px;
}

button:hover {
    background: #101010;
    cursor: pointer;
}

footer {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 20px 0;
}

a {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    color: #38e715;
}

/* pt1 */
.pt1-container {
    border-bottom: 2px solid #383535;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.bg-img {
    max-width: 90%;
}

/* pt2 */
.pt2-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px 0px;
}

.pt2-reset {
    margin: 30px;
}

/* pt3 */
.sub {
    background-color: #101010;
}

.sub-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 25px;
}

/* D.O.N. Rock Paper Scissors*/
.rps-buttons {
    align-items: center;
    display: flex;
    justify-content: center;
}

.butt1:hover .icon1 {
    background-color: #101010;
}
.butt2:hover .icon2 {
    background-color: #101010;
}
.butt3:hover .icon3 {
    background-color: #101010;
}

.rps-buttons img {
    width: 60%;
}

.rps-buttons img:hover {
    background: #101010;
}

.rps-match {
    display: flex;
    justify-content: space-around;
    min-height: 80px;
}

.player-match, .computer-match, .result-match {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-choice img, .computer-choice img {
    height: 40px;
}

.rps-result {
    align-items: center;
    border-bottom: 2px solid #383535;
    border-right: 3px solid #383535;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    text-align: center;
}

/*  Shipping Calculator  */
.calculando {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
}

.calculando h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.calculando h3 {
    font-size: 1rem;
}

.calculando-custo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.custo-input {
    border-right: 0px solid transparent;
    padding: 10px;
}

.calculando-total {
    display: flex;
    margin-bottom: 20px;
}

/* pt4 */
.pt4-title {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.pt4-title h2{
    font-size: 2rem;
    font-weight: 400;
}

.pt4-input {
    display: flex;
    justify-content: center;
}

.pt4-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.pt4-container input {
    font-size: 1.1rem;
    padding: 5px;
}

.pt4-container button {
    font-size: 1.1rem;
    padding: 5px;
}

.lista-prafz {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.lista-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 90%;
}

.lista-prafz h3 {
    font-size: 2rem;
    font-weight: 400;
}

.key-text {
    margin: 0px 0px 30px 20px;
}

.auto-button-after {
    background-color: #101010;
}

.auto-button-after:hover {
    background-color: #000;
}

/* Media Queries*/

@media screen and (min-width: 1200px) {
    header img {
        max-width: 60%;
    }
    .bg-img {
        max-width: 40%;
    }
}

/*  Webkit */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}