@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;900&display=swap');

* {
    background: #000;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    margin: 10px 0 45px 0;
    text-align: center;
}

button {
    background: #2d2d2d;
    border: transparent;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 20px 5px;
    min-width: 150px;
    padding: 20px 10px;
}

button:hover {
    background: #da6e6e;
}

img {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 70%;
}

input {
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 15px;
    height: 70px;
}

footer {
    display: flex;
    justify-content: center;
}

a {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 5px;
    padding: 20px 10px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    color: #38e715;
}

p {
    color: #c59dde;
    font-weight: 600;
    font-size: 2.3rem;
}

/*  rock p & s buttons  */

.rps-buttons {
    display: flex;
}

/* YT BUTTON */

.yt-button {
    display: flex;
    flex-direction: column;
}

.sub {
    background-color: #ff0000;
}

/* RPS SCORE */

.rps-buttons button {
    background: transparent;
    padding: 0;
}

.rps-buttons img {
    border-radius: 50px;
    padding: 20px;
}

.rps-buttons img:hover {
    background: #da6e6e;
}

.player-choice img, .computer-choice img {
    border-radius: 50px;
    padding: 10px;
    width: 50px;
}

.rps-match {
    display: flex;
    min-height: 80px;
}

.rps-match h2 {
    margin: 10px 20px;
}

.player-match, .computer-match, .result-match {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-height: 110px;
    text-transform: lowercase;
}

.player-match h3, .computer-match h3, .result-match h3 {
    font-size: 2.5rem;
    font-weight: 500;
}

.rps-all {
    display: flex;
    text-transform: uppercase;
}

.rps-all h2 {
    font-size: 1.5rem;
    margin: 5px 20px;
}

.rps-wlt {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*  CALCULERA  */

.calculando {
    align-items: center;
    display: flex;
    justify-content: center;
}

.calculando-total {
    display: flex;
}

.calculando-total h2 {
    margin: 10px 20px;
}

/*  Webkit  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}