@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;900&display=swap');

* {
    background: #000;
    /*background-image: url(/assets/capi.png);*/
    box-sizing: border-box;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 2px solid #383535;
    border-right: 3px solid #383535;
    font-size: 2rem;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
}

header img {
    width: 90%;
}

button {
    font-size: 2rem;
}

button:hover {
    background: #101010;
    cursor: pointer;
}

footer {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

a {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    color: #38e715;
}

/* pt1 */
.pt1-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 150px 0;
}

/* pt2 */
.pt2-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px 0px;
}

.pt2-reset {
    margin: 30px;
}

/* pt3 */
.sub {
    background-color: #128dff27;
}

.sub-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.rps-buttons {
    display: flex;
}

.butt1:hover .icon1 {
    background-color: #101010;
}
.butt2:hover .icon2 {
    background-color: #101010;
}
.butt3:hover .icon3 {
    background-color: #101010;
}

.rps-buttons img {
    width: 60%;
}

.rps-buttons img:hover {
    background: #101010;
}

.rps-match {
    display: flex;
    justify-content: space-around;
    min-height: 80px;
}

.player-match, .computer-match, .result-match {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-choice img, .computer-choice img {
    height: 40px;
}

.rps-result {
    align-items: center;
    border-bottom: 2px solid #383535;
    border-right: 3px solid #383535;
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
    text-align: center;
}

/*  Webkit */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}